body::before{
  display: block;
  content: '';
  height: 60px;
}
@media(min-width:768){
.news-input{
  width: 50%;
}
}
/* @media(max-width:768){
  .pd{
    border: 2px red solid;
    color: brown;
    padding: 5px;
  }
} */